.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .go {
    font-size: 1.6rem;
    color: rebeccapurple;

    &:hover {
      transform: scale(1.07);
    }
  }

  .title {
    font-size: 28px;
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }

    @media screen and(min-width: 700px) and(max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
