.hero {
  height: 50vh;
  position: relative;
  color: #fff;

  .hero-content {
    text-align: center;
    position: absolute;
  }

  .overlay-itro {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
  }

  .hero-title {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    .hero-title {
      font-size: 4.5rem;
    }
  }

  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    .hero-subtitle {
      font-size: 2.5rem;
    }
  }

  .text-slider-items {
    display: none;
  }
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
