.category-page {
  display: flex;
  flex-direction: column;
  margin-top: -20px;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    @media screen and(max-width: 700px){
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }

    @media screen and(min-width: 700px) and (max-width: 1200px){
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
    }

    .collection-item{
      margin-bottom: 30px;

      @media screen and(max-width: 700px){
        width: 80vw;
        height: 420px;
        margin: 0 auto;
      }

      .image {
        @media screen and(max-width: 700px){
          height: 100%;
        }
      }

      .product-actions {
        width: 60%;

        @media screen and(max-width: 700px){
          top: 250px;
        }
      }
    }
  }
}
