.item-details {
  width: 80vw;
  height: 80%;
}

.item-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1 !important;

  .product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    max-height: 90vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-face-color: #b34bf8;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;

    }

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: none;
    }

    .rating {
      color: #e8bb08
    }
    .product-card-header {
      padding: 20px;
      text-align: center;

      img {
        max-height: 200px;
      }
    }

    .product-title {
      font-size: 24px;
      line-height: 1;
      color: #353535;
    }

    .description {
      margin-top: 10px;
      color: #4b4949;
    }

    .product-credentials {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-quantity {
        //padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal-arrow {
          cursor: pointer;
        }
        .modal-value {
          margin: 0 10px;
        }
      }

      .quantity-title {
        padding-right: 10px;
        color: #353535;
        font-size: 25px;
      }

      .product-price {
        font-size: 25px;
        color: #353535;
        margin: 20px 0;

        .price-title {
          margin-right: 5px;
          color: #4b4949;
        }
      }
    }

    .product-card-footer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      margin-top: 5px;

      .btns {
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        cursor: pointer;
        color: whitesmoke;

        &:hover {
          transform: scale(1.05);
        }

        &.add {
          background-color: #b34bf8;

          &:hover {
            background-color: #550889;
          }
        }

        &.buy {
          background-color: whitesmoke;
          color: #353535;
          border: 1px solid #b34bf8;
        }

        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }


}