#header {
  //height: 70px;
  //width: 100vw;
  //display: flex;
  //justify-content: space-between;
  margin-bottom: 25px;
  //background: whitesmoke;
  padding: 0 20px;
  //overflow: inherit;
  //overflow-wrap: normal;

  &.header-scrolled {
    background-color: rgba(0,0,0,0.95);
    color: white;

    a {
      color: white;

      &:hover {
        color: rebeccapurple;
      }

    }
  }


  .logo-container {
    height: 100%;
    width: 500px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
  }

  .options {
    //width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px;

    .option {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        color: rebeccapurple;
      }
    }
  }
}

