.auth-page {
  display: flex;
  flex-direction: row;
  padding: initial;
}
.auth-image {
  width: 60%;
  background-image: url("../../assets/fashion3.jpg");
  background-size: contain;
  background-color: rebeccapurple;
  height: 100vh;
}

.sign-in-and-up {
  width: 40%;
  margin-left: 20px;
}

.logo-container {
  width: 500px;
  padding: 15px 0;
  display: flex;
  align-items: center;
}